.placeHolder {
	-fx-font-size: 20.0px;
	-fx-font-weight: bold;
}

.success {
	-fx-text-fill: green;
	-fx-font-weight: bold;
}

.default {
	-fx-text-fill: black;
	-fx-font-weight: normal;
}

.error {
	-fx-text-fill: red;
	-fx-font-weight: bold;
}

.info {
	-fx-text-fill: #088A85;
	-fx-font-weight: bold;
}

.bold {
	-fx-font-weight: bold;
}